** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
/* general */
:root {
	--color-primary-color: #000000;
	--color-secondary: #ffffff;
	--color-icon-green: #4bca01;
	--color-bg-footer: #222222;
	--color-text-red: #a72b2a;
	--color-bg-text-red: #4a4a4a;
}
body {
    font-family: "Roboto", sans-serif
}

/* flex utulity */
.d-flex {
    display: flex;
}
.flex-end {
    justify-content: flex-end;
}
/* header */
header {
    background-color: var(--color-primary-color);
    width: 100%;
    height: 50px;
    color: var(--color-secondary);
    position: fixed;
    top: 0;
    right: 0;
}
.bg-grey {
    background-color:var(--color-bg-text-red);
}
.icon {
    gap: 20px;
}
/* main */
main {
    background-color: var(--color-text-red);
    width: 100%;
    padding: 20%;
    padding-top: 50px;
}
.user {
    width: calc(100% / 7 - 20px);
    position: relative;
}
.badge {
    color: var(--color-secondary);
    background-color: var(--color-bg-text-red);
    padding: 2px;
    position: absolute;
    bottom:0
}
div.toolbar {
    background-color: var(--color-bg-footer);
    width: 100%;
    height: 50px;
    color: var(--color-secondary);
}

