* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
/* general */
:root {
	--color-primary-color: #000000;
	--color-secondary: #ffffff;
	--color-icon-green: #4bca01;
	--color-bg-footer: #222222;
	--color-text-red: #a72b2a;
	--color-bg-text-red: #4a4a4a;
}
body {
    font-family: "Roboto", sans-serif
}
#app {
    width: 100vw;
    height: 100%;
}

/* flex utulity */
.d-flex {
    display: flex;
}
.flex-end {
    justify-content: flex-end;
}
.wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
/* header */
header {
    background-color: var(--color-primary-color);
    width: 100%;
    height: 50px;
    color: var(--color-secondary);
    position: fixed;
    top: 0;
    right: 0;
}
.bg-grey {
    background-color:var(--color-bg-text-red);
}
.icon {
    gap: 20px;
}
/* main */
main {
    background-color: var(--color-primary-color);
    width: 100%;
    margin: 0 auto;
    padding: 50px 50px;
    gap: 10px;
}
.user {
    width: calc(100% / 7 - 70px);
    position: relative;
    min-width: 200px;
}
.user img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.badge {
    color: var(--color-secondary);
    background-color: rgb(172, 170, 170);
    padding: 2px;
    position: absolute;
    bottom:0   
}
/* toolbar */
div.toolbar {
    background-color: var(--color-bg-footer);
    width: 100%;
    height: 50px;
    color: var(--color-secondary);
    padding: 20px;
    margin-bottom: 0;
}
a {
    color: var(--color-secondary);
}

